<div [formGroup]="cityUpdateForm" *ngIf="!errString && updateObservable$ | async as countries else loading">
  <h1>Update City</h1>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    ZipCode:
    <input type="number" formControlName="zipCode" readonly>
  </label>
  <label>
    City:
    <select formControlName="countryIdAfter" id="cities" >
      <option *ngFor="let country of countries"
              [value]="country.id">
        {{country.name}}
      </option>
    </select>
  </label>
  <br>
  <br>
  <br>
  <label>
    Tourists:
    <select formControlName="touristIdsAfter" id="tourists" multiple style="width: 100%">
      <option *ngFor="let tourist of tourists"
              [value]="tourist.id">
        {{tourist.name}}
      </option>
    </select>
  </label>
  <br>
  <br>
  <br>

  <button (click)="update()"
          [disabled]="updating">Update</button>

  <button routerLink="/cities">back</button>

  <!-- {{cityUpdateForm.value | json}} -->
</div>
<h5 *ngIf="errString" style="color: red">{{errString}}</h5>
<ng-template #loading>
  <p>I am Loading ...</p>
</ng-template>

{{cityUpdateForm.value | json}}
