<div [formGroup]="cityUpdateForm" *ngIf="!errString && updateObservable$ | async else loading">
  <h1>Update City</h1>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    ZipCode:
    <input type="number" formControlName="zipCode" readonly>
  </label>
  <label>
    City:
    <select formControlName="countryIdAfter" id="cities" >
      <option *ngFor="let country of countries"
              [value]="country.id">
        {{country.name}}
      </option>
    </select>
  </label>

  <button (click)="update()"
          [disabled]="updating">Update</button>

  <!-- {{cityUpdateForm.value | json}} -->
</div>
<h5 *ngIf="errString" style="color: red">{{errString}}</h5>
<ng-template #loading>
  <p>I am Loading ...</p>
</ng-template>
