/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
